<h1><p>{{title}}</p></h1>
<h3 *ngIf="books.length==0"><p>No Books Found</p></h3>

<ul>
  <li *ngFor="let book of books">{{book.id}} - {{book.title}} | 
    <button *ngIf="!book.done" (click)="markAsDone(book)">Done </button> |
    <button *ngIf="book.done" (click)="markAsUndone(book)">Retry </button> |
    <button (click)="remove(book)">Remove</button>
  </li> 
  <button *ngIf="">Teste</button>
</ul>

<form [formGroup]="form">

  <fieldset>
    <label>Book </label>
    <input 
    type="text" 
    placeholder="Book Title" 
    maxlenght="30"
    formControlName="title">
    <small *ngIf="form.controls.title.invalid && !form.controls.title.pristine && form.controls.title.value">Error 3 and 30 chars</small>
    <button [disabled]="form.invalid" (click)="addBook()"> Send </button>
  </fieldset>
</form>